<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
</head>
<body>
<h1>Generator słów</h1>
<!--Formularz to odpowiednik Scanner dla javy-->
<!--Odczytuje dane od użytkowników-->
<!--Action określa gdzie ma przejść po kliknięciu w przycisk formularza-->
<form action="/result">
    <label>Podaj ile wyrazów wygenerować</label>
<!--    odpowiednik deklaracji zmiennej-->
<!--    name w input to nazwa zmiennej-->
    <input type="number" name="count">
    <input type="submit" value="Generuj">
<!--    przycisk formularza-->
<!--    generuj tekst formularza-->




</form>


</body>
</html>